:root {
    --bg-color: #050505;
    --card-bg: #0a0a0a;
    --text-main: #ffffff;
    --text-muted: #a1a1aa;
    --accent: #00f2ff;
    --accent-glow: rgba(0, 242, 255, 0.2);
    --border-color: #27272a;

    --font-main: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    --max-width: 1600px;
}